  <div class="main-container">
        <div class="title-bar" [class.hide]="classApply"
    >
        <h1 class="h">Movies</h1>
        <div class="but">
          <button (click)="sugest()" class="sug-but">
            suggest movie
          </button>
          </div>
      
          <div class="dis-sug">
              <ul>
              <li>
                <span *ngFor = " let i of content;">  
                  {{i}}<br/>
              
                </span>
                <span class="de">
                  {{desc1}}
                </span>
              </li>
            </ul>
          
      </div>
  </div>

    <div [class.show]="classApply" [class.hide]="!classApply" class="sugestion-page">
        <div *ngIf="!name; else forminfo">
              <form [formGroup]="rForm" (ngSubmit)="adPost(rForm.value)">

                <div class="form-container" 
                >
                  <h1>Movie Suggest</h1><br/>
                  <label>Title<br/>
                    <input  [(ngModel)]="title" type="text" formControlName="name">    
                  </label>
                  <div  class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
                      {{titlealert}}
                  </div>
                  
                <label>Release Date<br/>
                    <input [(ngModel)]="real" type="text" formControlName="realis">    
                  </label>
                   <div  class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
                      {{titlealert}}
                  </div>

                  <label>Genre<br/>
                    <input [(ngModel)]="genre" type="text" formControlName="genre">    
                  </label>
                   <div  class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
                      {{titlealert}}
                  </div>

                  <label>Duration<br/>
                    <input [(ngModel)]="durat" type="" formControlName="durati">    
                  </label>
                   <div  class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
                      {{titlealert}}
                  </div>




                  <label>sypnosis<br/>
                    <textarea [(ngModel)]="desc"  formControlName="description">

                    </textarea>    
                  </label>
                   <div  class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
                      {{titlealert}}
                  </div>
                 
                  <input type="submit" 
                    (click)="submitOk()"
                  class="button"  value="Submit" [disabled]="!rForm.valid">



                </div>

              </form>
          
        </div>
        <ng-template #forminfo>
          <div class="form-container">
            <h1>{{name}}</h1>
            <p>{{description}}</p>
          </div>
          </ng-template>

    </div>

 </div>

